<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SubwayStationMapper">
    <resultMap id="BaseResultMap" type="org.example.model.SubwayStation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="weight" jdbcType="BIT" property="weight"/>
    </resultMap>
    <insert id="add" parameterType="org.example.model.SubwayStation">
        insert into subway_station (id, name, weight)
        values (#{id}, #{name}, #{weight})
    </insert>
    <select id="query" resultType="org.example.model.SubwayStation" resultMap="BaseResultMap">
        select id, name, weight
        from subway_station
        WHERE id = #{id}
    </select>
</mapper>